.container-fluid {
  padding-top: 100px;
}

img {
  height: auto;
}

/* .carousel {
  width:1280px;
  height:720px;
} */

/* .w-100 {
  width: 100% !important;
  height: 60vh;
} */

#canvas {
  padding-left: 0;
  padding-right: 0;
}
/* to make images responsive inside the carousel */
.carousel-item  > img {
  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}

#content{
  padding-left: 10%;
  padding-right: 10%;

}
#details h2,
#details h1 {
  display: inline;
}
#details h2 {
  margin-left: 2% !important;
}
#details h1{
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}
#details h1>span{
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: middle;
}
#details p{
  font-size: 1.6em;
}

#side-info ul{
  list-style-type:none;
}

#side-info > ul {
  padding-left: 0!important;
  align-items: center;
  margin-top: 6%;
  /* padding-top: 5%; */
}
#side-info{
  max-height: 20vh;
  margin-bottom: 10%;
  border-left: solid rgb(249, 49, 84);
}